    .content-style{
        background: white;
        border-bottom: 1px solid;
        border-color: grey;
    }
    .icon-style{
        font-size: 35px;
        color:var(--msa-main-blue);
        padding-right:20px;
    }
    .icon-style-arrow{
        font-size: 18px;
        color:grey;
        padding-left: 10px;
    }
    .title-style{
        font-size:20px;
        color:black;
    }
    .text-style{
        font-size:12px;
        bottom:45px;
        color: rgb(65, 65, 65);
    }
    .prize-style{
        font-size:17px;
        text-align: right;
        height: 5px;
    }
    .back-style{
        font-size: 12px;
        color: grey;
        text-align: right;
    }
