ion-label {
    color:black;
}
ion-item {
    background-color: white;
}

ion-content{
    background: #f9f9f9;
}

.username{
    font-size:14px;
    color:grey;
}

.exit-icon {
    color:red;
}

.arrow-icon {
    font-size: 20px;
        color:grey;
}


