.chartLineBubble {
	position: absolute;
	left: 10px;
	background: hsla(0, 0%, 100%, .75);
	border-radius: 10px;
	padding: 5px 6px;
	line-height: 12px;
	color: #97afba;
	text-align: center;
	font-size: 12px;
	white-space: nowrap;
	font-weight: 400;
	margin-top: -12px
}